.hide {
    display: none;
}

body {
    background-color: #213221;
    font-family: Handlee;
    font-size: 2rem;
    color: palevioletred;

}

h1, .header {
    font-family: 'Geostar Fill', cursive;
    text-align: center;
    
}
/* Need to center image */
img {
    max-width: 100vh;
    border-radius: 88%;
}

button {
    padding: 15px;
    font-size: 3rem;
    font-family: 'Geostar Fill', cursive;
}




